
@charset "utf-8";

@font-face {
   font-family: "tahoma";
   src: url("../fonts/Tahoma\ Regular\ font.ttf") format("truetype") !important;
   src: url("../fonts/TAHOMA_0.TTF") format("truetype") !important;
   src: url("../fonts/TAHOMAB0.TTF") format("truetype") !important;
   src: url("../fonts/TAHOMABD.TTF") format("truetype") !important;
}

@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Bold.otf") format("truetype") !important;
} 

.font_tahoma{
    font-family: Tahoma regular !important;
}


